/**reset css**/
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

table {
	border-collapse: none;
	border-spacing: none;
}

caption, th, td {
	text-align: center;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/**css file**/
.cfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .cfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
a{
	text-decoration: none;
}
h1, h2, h3, p, a{
	display: block;
}
h1, h2, h3{
	font-weight: bold;
}
h1, .logo h1 a{
	color: #111;
}
h1{
	font-size: 40px;
	font-weight: bold;
}
h2{
	font-size: 30px;
	color: #fff;
	font-family: sans-serif;
	line-height: 40px;
}
h3{
	font-size: 28px;
	color: #fff;
	margin-bottom: 20px;
}
h4{
	font-size: 	24px;
	font-weight: bold;
}
body {
	background: #222;
	width: 100%;
	height: 100%;
	font-family: "PT Sans",'open_sansregular', Helvetica, sans-serif;
	font-size:16px;
	line-height:24px;
	color: #111;
}
ul, ol{
	list-style: none !important;
}
.mainHeader{
	background-color: #fff;
}
.searchBox{
	width: 350px;
	float: right;
	position: relative;
}
.searchBar{	
	width: 100%;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px #222 solid;
	border-left: 0;
	background-color: rgba(255,255,255,0.1);
	padding: 8px 12px;
}

.suggestBox{
	width: 100%;
    position: absolute;
    background-color: #fff;
    z-index: 99;
    left: 0;
    top: 35px;

}
.suggestedList{
	padding: 8px 20px;
	color: #222;
}
.suggestedList:hover{
	background-color: #dedede;
}
.logo, .movieCategoryList, .columnLeft, .cast li, .crew li{
	float: left;
}
.movieCategoryList{
	background-color: #111;
	margin: 10px;
	color: #fff;
	overflow: hidden;
}
.tc{
	text-align: center;
}
.upComingMovies{
	margin-top: 50px;
}
.headerWrapper{
	width: 100%;
	background: #ccc url("images/tomb-raider.jpg") no-repeat;
	background-size: cover;
	height: 100vh;
	opacity: 0.65;
}
.centerWrapper{
	width: 1200px;
	margin: 0 auto;
	padding: 20px;
}
.movieInfoWrapper{
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
	color: #fff;
}
#moviePoster{
	width: 270px !important;
	float: left;
	margin-right: 20px;	
	background-color: #ccc;
}

/***************************
****************************
***************************/
.information{
	width: 650px;
}


.comment-name{
	font-weight: bold;
}
.commentForm{
	padding: 10px 20px;
	background-color: #9ecbd2;
	margin: 15px 0;	
}
.comment{
	padding: 15px 0;
	border-bottom: 1px #dedede solid;
}
.confirmButtonsContainer a{
	display: inline;
	font-size: 	14px !important;
	color: #555;
}
#one{
	background-image: url("images/maxresdefault.jpg");
}
#two{
background-image: url("images/dims.jpg");
}
#three{
background-image: url("images/thelast-jedi-novelization-cover-tall-817x350.jpg");
}
#four{
background-image: url("images/BabyDriver2.jpg");
}
#five{
	background-image: url("images/images.jpg");
}
#one, #two, #three, #four, #five{
	background-position: center;
	background-repeat: no-repeat; 
}
.landingPageInfo{
	width: 650px;
	margin-top: 200px;
	font-size: 16px;
	color: #fff;
}
.landingPageInfo h2{
	font-size: 48px;
	color: #111;
}
.moviesBox{
	position: relative;
	overflow: hidden;
	display: block;
	color: #fff;
}
.movieBoxInfo{
	position: absolute;
	top: 100%;
	left: 0;
	transition: all 0.25s ease-in-out;
	background-color: rgba(0,0,0,0.65);
	padding: 0 10px;
	height: 100%;
	display: flex;
    align-items: center;
}
a.moviesBox:hover > .movieBoxInfo{
	top: 0;
}
.boxTitle{
	font-size: 18px;
	margin-bottom: 5px;
}
.boxOverview{
	font-size: 12px;
	line-height: 17px;
}
.cast li{
	width: 180px;
	padding-right: 15px;
}
.crew li{
	width: 160px;
}
.name{
	font-weight: bold;
}
.movieInfoColumn{
	width: 325px;
}
/**
<span id="react-root"><section class="_sq4bv _oorvb _hggbb"><div class="  _psbeo"><div class="_ni05h "><section class="_s7gs2  _d9zua" style="width: 193.5px;"><header class="_7pkw3"><div class="_c949z"><a class="_7q3gb _pg23k _jpwof _gvoze" href="/ferllacanlale/" style="width: 32px; height: 32px;"><img class="_rewi8" src="https://instagram.fmnl4-1.fna.fbcdn.net/vp/73151d91a3a378f10378f4522022f5e0/5B6777BA/t51.2885-19/s150x150/30076301_2038287823052761_1703499048817786880_n.jpg"></a><a class="_2g7d5 notranslate _atnxg _a6e3j" title="ferllacanlale" href="/ferllacanlale/">ferllacanlale</a><time class="_7d0n7 _6g6t5" datetime="2018-04-10T17:28:56.000Z" title="Apr 11, 2018">13h</time><div class="_2tt3z"><button class="_sqixo"><div class="coreSpriteOptionsEllipsisLight"></div></button></div></div></header><div class="_mviq1 _ra71m"><div class="_rxwbc"><div class="_t2gra"></div><div class="_ay8ll _dubon" style="width: 90%;"></div></div><div class="_rxwbc"><div class="_t2gra"></div></div></div><div class="_2us5i" style="height: 344px;"><button class="_x6th4"><div class="coreSpriteLeftChevron"></div></button><div class="_te9am"><div class="_gwyj6 _4gv06"><div class="_jtktu" style="width: 194px; height: 344.889px;"><img class="_ntjhp _ro0gg  " decoding="sync" sizes="194px" srcset="https://instagram.fmnl4-1.fna.fbcdn.net/vp/d407edd7367dfc194c7d4108c7fe7884/5AD026C7/t51.12442-15/sh0.08/e35/p640x640/29736861_1791461677816641_5500765951169134592_n.jpg 640w,https://instagram.fmnl4-1.fna.fbcdn.net/vp/63646a3c5efb91274c8549e43a6466a8/5AD01E83/t51.12442-15/sh0.08/e35/p750x750/29736861_1791461677816641_5500765951169134592_n.jpg 750w,https://instagram.fmnl4-1.fna.fbcdn.net/vp/826a123fa142afb0efbbfaada9eec1f0/5AD0163C/t51.12442-15/e35/29736861_1791461677816641_5500765951169134592_n.jpg 1080w" src="https://instagram.fmnl4-1.fna.fbcdn.net/vp/826a123fa142afb0efbbfaada9eec1f0/5AD0163C/t51.12442-15/e35/29736861_1791461677816641_5500765951169134592_n.jpg"><div class="_o95x1"><div class="_v88d1"></div><div class="_npx7y "></div></div></div><div class="_4c5eh"><iframe aria-hidden="true" class="_o6ctz" tabindex="-1"></iframe></div></div></div><div class="_m72dt"></div><button class="_j1od1"><div class="coreSpriteRightChevron"></div></button><button class="_t848o"><div class="coreSpriteCloseLight"><span class="_8scx2">Close</span></div></button><div class="_nfei5"></div></div></section></div></div></section></span>


<section class="_sq4bv _oorvb _hggbb"><div class="  _psbeo"><div class="_ni05h "><section class="_s7gs2  _d9zua" style="width: 144.563px;"><header class="_7pkw3"><div class="_c949z"><a class="_7q3gb _pg23k _jpwof _gvoze" href="/ferllacanlale/" style="width: 32px; height: 32px;"><img class="_rewi8" src="https://instagram.fmnl4-1.fna.fbcdn.net/vp/73151d91a3a378f10378f4522022f5e0/5B6777BA/t51.2885-19/s150x150/30076301_2038287823052761_1703499048817786880_n.jpg"></a><a class="_2g7d5 notranslate _atnxg _a6e3j" title="ferllacanlale" href="/ferllacanlale/">ferllacanlale</a><time class="_7d0n7 _6g6t5" datetime="2018-04-10T17:33:41.000Z" title="Apr 11, 2018">13h</time><div class="_2tt3z"><button class="_sqixo"><div class="coreSpriteOptionsEllipsisLight"></div></button></div></div></header><div class="_mviq1 _ra71m"><div class="_rxwbc"><div class="_t2gra"></div><div class="_ay8ll " style="width: 100%;"></div></div><div class="_rxwbc"><div class="_t2gra"></div><div class="_ay8ll _dubon" style="width: 14%;"></div></div></div><div class="_2us5i" style="height: 257px;"><button class="_x6th4"><div class="coreSpriteLeftChevron"></div></button><div class="_te9am"><div class="_gwyj6 _4gv06"><div class="_jtktu" style="width: 145px; height: 257.778px;"><img class="_ntjhp _ro0gg  " decoding="sync" sizes="145px" srcset="https://instagram.fmnl4-1.fna.fbcdn.net/vp/bf094e9793cbe89af04e1938e39a83c1/5AD01852/t51.12442-15/sh0.08/e35/p640x640/29716855_212346612872230_7477925580055248896_n.jpg 640w,https://instagram.fmnl4-1.fna.fbcdn.net/vp/ce3e89134a1fba7d2ee8486795bfe71c/5AD03852/t51.12442-15/sh0.08/e35/p750x750/29716855_212346612872230_7477925580055248896_n.jpg 750w,https://instagram.fmnl4-1.fna.fbcdn.net/vp/e275fd12ac1cf2686fdf9055eccfaefa/5AD071F5/t51.12442-15/e35/29716855_212346612872230_7477925580055248896_n.jpg 1080w" src="https://instagram.fmnl4-1.fna.fbcdn.net/vp/e275fd12ac1cf2686fdf9055eccfaefa/5AD071F5/t51.12442-15/e35/29716855_212346612872230_7477925580055248896_n.jpg"><div class="_o95x1"><div class="_v88d1"></div><div class="_npx7y "></div></div></div><div class="_4c5eh"><iframe aria-hidden="true" class="_o6ctz" tabindex="-1"></iframe></div></div></div><div class="_m72dt"></div><button class="_j1od1"><div class="coreSpriteRightChevron"></div></button><button class="_t848o"><div class="coreSpriteCloseLight"><span class="_8scx2">Close</span></div></button><div class="_nfei5"></div></div></section></div></div></section>
**/